.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;

  &--hidden {
    opacity: 0;
    transform: translateY(8rem);
  }
  &__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  &__description {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 1rem;
  }
  &__header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
    @include responds(phone) {
      font-size: 3rem;
    }
  }
}

.expand {
  transform: scale(2.5);
}
